body {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
}

img {
    max-width: 100%;
}

.no-margins {
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.hero {
  padding: 96px 0;
  background-image: linear-gradient(rgba(26, 125, 170, 0.5), rgba(165, 79, 79, 0.5));
  text-align: center;
  font-family: monospace;
  color: rgb(6, 17, 20);
}
.hero__heading {
    font-size: 75px;
    margin: 0;
    margin-bottom: 24px;
}
@media (max-width: 600px) {
    .hero__heading {
        font-size: 50px;
    }
}


.gallery { 
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 32px;
}
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

.polaroid {
    background-color: white;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 24px;
}
.polaroid > .caption {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 20px;
}

.container {
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    padding: 20px 30px;
  }

.country {
    font-family: cursive;
    font-size: 55px;
    text-align: center;
    color: #94b5c0;

}

.city {
    font-family: cursive;
    font-size: 55px;
    text-align: center;
    color: #62959c;

}
  
  